**.*o
compile_commands.json
way-shell
.gdb_history
way-sh/way-sh
gresources.c
gresources.h
/.cache/
/result
/result-*
/.vscode/
/tests/core-test
/tests/ipc-test
/tests/theme-test
/tests/clock-test
/tests/sway-transport-test
/tests/niri-test
/tests/power-profiles-widgets-test
/tests/battery-widgets-test
/tests/power-widgets-test
/tests/brightness-widgets-test
/tests/network-test
/tests/network-operations-test
__pycache__/

# Build outputs
/target/
*.d
gschemas.compiled
/src/services/dbus_dbus.c
/src/services/dbus_dbus.h
/src/services/notifications_service/notifications_dbus.c
/src/services/notifications_service/notifications_dbus.h
/src/services/status_notifier_service/dbusmenu_dbus.c
/src/services/status_notifier_service/dbusmenu_dbus.h
/src/services/status_notifier_service/status_notifier_host_dbus.c
/src/services/status_notifier_service/status_notifier_host_dbus.h
/src/services/status_notifier_service/status_notifier_item_dbus.c
/src/services/status_notifier_service/status_notifier_item_dbus.h
/src/services/status_notifier_service/status_notifier_watcher_dbus.c
/src/services/status_notifier_service/status_notifier_watcher_dbus.h

/tests/audio-widgets-test
/tests/media-widgets-test
/tests/notifications-test
/tests/media-presentation-test
/tests/notification-presentation-test

/nix/fedora/locks/.update-*/
